/* Html Elements */
h3 {
  width: 60%;
}

#Top-section {
  background: linear-gradient(180deg, #FFB5B8 0%, rgba(255, 181, 184, .262661) 83.7%, rgba(255, 181, 184, 0) 100%);
  /* box-shadow: 1px 4px 7px 2px #99614d66; */
  position: relative;
}

#Middle-section {
  background-color: #F2C9E1;
  padding-top: 5%;
  padding-bottom: 15%;
}

/* Classes */
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1000;
  position: relative;
  box-shadow: 1px 4px 7px 2px #99614d66;
}

.navbar-nav {
  margin-right: 50px;
}

.navbar-brand {
  margin-left: 55px;
  cursor: text;
}

.dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}

.active:hover {
  opacity: 50%;
}

.spinner-border {
  margin-right: 5px;
}

.top-section-parapgraph {
  font-size: 1.2rem;
  width: 50%;
}

.top-section-container {
  max-width: 100%;
}

.middle-section-container-1 {
  background-color: #EFEFEF;
  border-radius: 1.2rem;
  padding-top: 3%;
  padding-bottom: 4%;
  box-shadow: 1px 4px 7px 2px #99614d66;
}

.middle-section-container-2 {
  margin-top: 8%;
  margin-bottom: 8%;
  background-color: #EFEFEF;
  max-width: 80%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.left-column {
  background: url("../images/edge.png")no-repeat top right / auto 100%;
  position: absolute;
  left: 0;
  z-index: 2;
  padding: 0;
  height: 100%;
  width: 60%;
  flex-direction: row;
}

.right-column {
  padding: 0;
  margin-left: 50%;
  width: 50%;
}

.top-section-container-fluid {
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 15%;
}

.download-button {
  margin: 5px;
}

.middle-section-row {
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.middle-container-info {
  text-align: center;
}

.col-lg-3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  border-radius: 0.8rem;
  align-items: center;
  box-shadow: 1px 4px 7px 2px #99614d66;
  background-color: #dacaff;
}

.btn-form {
  width: 100%;
}
.col-complaint{
  padding-top: 100px;
  padding-left: 60px;
}

/* Media Query Breakpoints */
@media (max-width:900px) {
  .right-column {
    padding: 0;
    margin-left: 0;
    width: 100%;
  }

  .col-sm-12 {
    width: 100% !important;
  }

  .left-column {
    background: url("");
    width: 100% !important;
    position: relative;
  }
}
